@import 'colors';
@import 'fonts';
@import 'mixins';

body, html {
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.slide {
    background: url('pw_pattern.png');
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code {
    pre {
        font-size: $font-size-4;
        font-family: "Andale Mono", AndaleMono, monospace;
    }
}

/******************************
* hello slide
*/
.hello {
    h2 {
        @include archer;
        font-size: $font-size-5;
    }
}

/******************************
* book slide
*/
.book {

    figure {
        padding-left: 4rem;
        img {
            width: 100%;
        }
    }
    
    h2 {
        @include tungsten;
        text-transform: uppercase;
    }
    /* H2 styling */
    h2 > span{
        display: block;
    }
    
    h2 .top {
        font-size: 3.8rem;
    }
    
    h2 > .middle{
        @include archer-light;
        font-style: italic;
        font-size: 5.7rem;
        color: $light-base-color;
    }
    
    h2 > .bottom {
        font-size: 4.5rem;
    }
    
    h2 > .sketch{
        font-weight: 200;
        font-size: 7.4rem;
        color: $dark-base-color;
    }
/* end h2 styling*/
}


/******************************
* CSS sucks at layout
*/
.css-sucks {
    .outer {
        border: 4px solid #444;
        width: 25em;
        padding: 1rem;
    }

    .inner {
        @include tungsten;
        text-transform: uppercase;
        font-size: $font-size-5;
        width: 6em;
    }
}

/******************************
* flex slide
*/

.flexbox {
    background: #222;
    h2 {
        @include tungsten;
        font-size: $font-size-5;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $complementary-color;
    }
}

/******************************
* Display options
*/

.display-options {
    flex-direction: column;

    .flex { color: $complementary-color; }

    h2 {
        @include tungsten;
        font-size: $font-size-5;
    }
}


/******************************
* w3c image slide
*/

.w3c-image {
    figure {
        width: 75%;
        img { width: 100%; }
    }
}

.standard-flex-boxes {

    .bars, .boxes {
        position: absolute;
        border: 1px solid $base-color;
        height: 100vmin;
        width: 100vmin;
        left: 50%;
        top: 50%;
        margin-left: -50vmin;
        margin-top: -50vmin;
    }
    
    .bars{
        > div {
            height: 50%;
            width : 50%;
            float: left;
        }
        > div:nth-of-type(1){
            border-bottom: 1px solid $black;
        }
        > div:nth-of-type(2){
            border-bottom: 1px solid $black;
            border-left: 1px solid $black;
        }
        
        > div:nth-of-type(4){
            border-left: 1px solid $black;
        }
    }
    
    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        
        > div {
            height: 10vmin;
            width: 10vmin;
            background-color: $complementary-color;
            border: 1px solid $base-color;
            margin: 1vmin;
        }
    }

}


/******************************
* flex-demo
*/

.flex-demo {

    .boxes { flex-direction: column; }

    transition: all 1s;

    &.active .boxes > div:first-of-type {
        -webkit-animation-name: flex-down;
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
    }

    &.active .boxes > div:last-of-type {
        -webkit-animation-name: flex-up;
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 2s;
    }

    &.active .boxes > div:nth-of-type(2) {
        -webkit-animation-name: flex-left;
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 4s;
    }

    &.active .boxes > div:nth-of-type(3) {
        -webkit-animation-name: flex-right;
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 4s;
    }

}

@-webkit-keyframes flex-down {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 80vmin;
    }
    100% {
        margin-top: 0;
    }
}

@-webkit-keyframes flex-up {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 80vmin;
    }
    100% {
        margin-bottom: 0;
    }
}

@-webkit-keyframes flex-left {
    0% {
        margin-right: 0;
    }
    50% {
        margin-right: 80vmin;
    }
    100% {
        margin-right: 0;
    }
}


@-webkit-keyframes flex-right {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 80vmin;
    }
    100% {
        margin-left: 0;
    }
}


/******************************
 * justify-content
*/
.justify-content, .justify-content-values, .align-items, .align-items-values, .flex-wrap {
    flex-direction: column;

    h2 {
        @include archer;
        font-size: $font-size-5;
    }
}


.justify-flex-start .boxes { justify-content: flex-start; }
.justify-flex-end .boxes {  justify-content: flex-end; }
.justify-center .boxes { justify-content: center; }
.justify-space-around .boxes { justify-content: space-around; }
.justify-space-between .boxes { justify-content: space-between; }


.align-flex-start .boxes { align-items: flex-start; }
.align-flex-end .boxes { align-items: flex-end; }
.align-center .boxes { align-items: center; }
.align-stretch .boxes { 
    align-items: stretch; 
    > div {
        height: initial;
    }
}

.align-baseline .boxes {
    align-items: baseline;
    > div {
        @include archer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-2;
        padding-top: 1rem;
    }
    > div:nth-of-type(1) {
        height: 300px;
    }
    > div:nth-of-type(2) {
        height: 200px;
        padding-bottom: 10rem;
    }
    > div:nth-of-type(3) {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
    > div:nth-of-type(4){
        height: 500px;
    }
}


/******************************
 * flex-direction
*/
.flex-direction, .flex-direction-values {
    h2 { 
        @include archer;
        font-size: $font-size-5;
    }
}


/******************************
* row-flow
*/
.row-flow, .row-flow-reverse {
    
    .boxes {
        flex-direction: row;
    }
    .boxes > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-3;
        @include archer;
    }
    .boxes > div:first-child { margin-left: 0; }
}

.row-flow-reverse {
    .boxes { flex-direction: row-reverse; }
}

/******************************
* column-flow
*/

.column-flow, .column-flow-reverse {
    .boxes {
        flex-direction: column;
    }
    .boxes > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-3;
        @include archer;
    }
}

.column-flow-reverse {
    .boxes {flex-direction: column-reverse; }
}


/******************************
* flex-wrap
*/
.flex-wrap-wrap, .flex-wrap-reverse {
    .boxes > div {
        width: 20vh;
        @include archer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-3;
    }
}

.flex-wrap-wrap {
    .boxes {
        flex-wrap: wrap;
    }
}

.flex-wrap-reverse {
    .boxes {
        flex-wrap: wrap-reverse;
    }
}

.align-start .boxes { align-content: flex-start; }
.align-end .boxes { align-content: flex-end; }
.align-center .boxes { align-content: center; }
.align-around .boxes { align-content: space-around; }
.align-between .boxes { align-content: space-between; }


/******************************
 * items v containers
*/
.items-v-containers {
    @include tungsten;
    text-transform: uppercase;
    font-size: $font-size-5;
}

/******************************
* order
*/
.order {
    flex-direction: column;
    @include tungsten;
    text-transform: uppercase;
    font-size: $font-size-4;

    > div {
        border: 4px solid #222;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .top { height: 20vh; }
    .middle { height: 60vh; }
    .bottom { height: 20vh; }
}

.order.reorder {
    .top { order: 2; }
    .middle { order: 1; }
    .bottom { order: 0; }
}

/******************************
* flex-basis-auto
*/
.flex-basis-auto {
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        > div {
            border: 1px solid #222;
            padding: 1rem;
            background: #eee;
            height: 100px;
            flex: 1 1 0;
            -webkit-background-clip: content;
        }
        
        .outer {
            //        width: 100px;
        }
        
        .middle {
            //        width: 200px;
        }
    }
}

