@import 'colors';
@import 'fonts';
@import 'mixins';

body, html {
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.slide {
    background: url('pw_pattern.png');
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello {
    h2 {
        @include archer;
        font-size: $font-size-5;
    }
}

.book {

    figure {
        padding-left: 4rem;
        img {
            width: 100%;
            -webkit-filter: drop-shadow(0px 10px 26px #222222);
        }
    }
    
    h2 {
        @include tungsten;
        text-transform: uppercase;
    }
    /* H2 styling */
    h2 > span{
        display: block;
    }
    
    h2 .top {
        font-size: 3.8rem;
    }
    
    h2 > .middle{
        @include archer-light;
        font-style: italic;
        font-size: 5.7rem;
        color: $light-base-color;
    }
    
    h2 > .bottom {
        font-size: 4.5rem;
    }
    
    h2 > .sketch{
        font-weight: 200;
        font-size: 7.4rem;
        color: $dark-base-color;
    }
/* end h2 styling*/
}


/******************************
* CSS sucks at layout
*/
.css-sucks {
    .outer {
        border: 4px solid #444;
        width: 25em;
        padding: 1rem;
    }

    .inner {
        @include tungsten;
        text-transform: uppercase;
        font-size: $font-size-5;
        width: 6em;
    }
}

/******************************
* flex slide
*/

.flexbox {
    background: #222;
    h2 {
        @include tungsten;
        font-size: $font-size-5;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $complementary-color;
    }
}

/******************************
* Display options
*/

.display-options {
    flex-direction: column;

    .flex { color: $complementary-color; }

    h2 {
        @include tungsten;
        font-size: $font-size-5;
    }
}


.flex-basis-auto {
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        > div {
            border: 1px solid #222;
            padding: 1rem;
            background: #eee;
            height: 100px;
            flex: 1 1 0;
            -webkit-background-clip: content;
        }
        
        .outer {
            //        width: 100px;
        }
        
        .middle {
            //        width: 200px;
        }
    }
}